*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.card {
  position: relative;
  top: 100px;
  width: 60%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  background-color: blue;
}
h1 {
  font-size: 35px;
  padding: 25px;
}
.card .h1 {
  color: rgb(22, 19, 15);
  font-size: 32px;
  padding: 16px 50px;
  border-radius: 8px;
  background-color: rgb(149, 161, 38);
}

.options {
  width: 55%;
  height: 40%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}

.align {
  display: flex;
  align-items: center;
}

.align .label {
  margin-left: 10px;
}
h3 {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: rgb(201, 16, 16);
}
p{
  color: chocolate;
  font-size: larger;
  background-color: wheat;
  padding: 5px;
}

.btn {
  position: absolute;
  top: 400px;
  width: 60px;
  height: 31px;
  border: none;
  background-color: rgb(184, 20, 20);
  cursor: pointer;
  border-radius: 4px;
}
.btn1 {
  display: none;
  position: absolute;
  top: 400px;
  width: 70px;
  height: 31px;
  border: none;
  border-radius: 4px;
  background-color: rgb(111, 189, 10);
  cursor: pointer;
}


